[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Ahmedhedyed
	email = 131105789+AhmedQatar@users.noreply.github.com
[core]
	editor = \"C:\\Users\\Admin\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
